<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>


</head>
<body>
    <div th:fragment='navigation' class="no-shadow navbar" style="padding:1px; color:darkgrey; background-color: #4b7582; box-shadow: -4px -4px 50px 3px #d3f0ff;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" style="margin:none; color:red; padding-left: 13px;color: black;">Home</a>
            </li>
        </ul>

    </div>
</body>
</html>