<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script th:fragment='affix-scripts' th:inline="javascript">
    //<![CDATA[

    var abilities = [[${abilities}]];
    var stage = [[${stage.equipment}]];

    $(document).ready(function(){
        var finalAffixMap = {};
        var penalizedAffixMap = {};

        $("#clear-base, #clear-e1, #clear-e2, #clear-e3, #clear-e4, #clear-e5").click(function() {
            strEquipId = $(this).parent().parent().prop("id");

            for (i=0; i<stage.length; i++) {
                if (stage[i].identifier.includes(strEquipId)) {
                    for (j=0; j<stage[i].slots; j++) {
                        $("#" + j + "-" + strEquipId).empty();
                    }
                    stage[i].abilities = [];
                    stage[i].slots = 0;
                    break;
                }
            }
            console.log(stage[i]);
        });

        $("#basic, #special, #soul, #resist, #status, #other").keydown(function(event) {
            if (event.which === 13) {
                $(document.activeElement).dblclick();
            }
        });


        /** Serves to properly add the selected ability to a particular equipment */
        $("#basic, #special, #soul, #resist, #status, #other").dblclick(function() {

            // Get selected ability
            var abilityTypeElement = document.getElementById(this.id);
            var selectedAbilityId = abilityTypeElement.options[abilityTypeElement.selectedIndex].value;
            var selectedAbility = abilities[selectedAbilityId - 1];

            console.log("Selected: " + selectedAbility.name);

            // Set current equipment
            var currentEquipment = stage[intEquipId];
            var currentAbilities = currentEquipment.abilities;

            if (!currentAbilities.includes(selectedAbility)) {

                if (currentEquipment.slots > 0) {

                    for(i=0; i<currentAbilities.length; i++) {
                        var switchable = false;

                        if (currentAbilities[i].abilityType == selectedAbility.abilityType) {

                            var currentType = selectedAbility.abilityType;

                            // Special replacement cases
                            if (currentType == "special") {

                                if ((selectedAbility.name.includes("Modulator") || selectedAbility.name.includes("Vinculum") ||
                                     selectedAbility.name.includes("ARKS MAX")) && (currentAbilities[i].name.includes("Modulator") ||
                                     currentAbilities[i].name.includes("Vinculum") || currentAbilities[i].name.includes("ARKS MAX")))
                                {
                                        switchable = true;
                                        break;
                                }
                                else if ((selectedAbility.name.includes("Boost") || selectedAbility.name.includes("Noble") ||
                                          selectedAbility.name.includes("Elegant")) && (currentAbilities[i].name.includes("Boost") ||
                                          currentAbilities[i].name.includes("Noble") || currentAbilities[i].name.includes("Elegant")))
                                {
                                    switchable = true;
                                    break;
                                }
                                else if (selectedAbility.name.includes("Factor") && currentAbilities[i].name.includes("Factor")) {
                                    switchable = true;
                                    break;
                                }
                                else if (selectedAbility.name.includes("Reverie") && currentAbilities[i].name.includes("Reverie")) {
                                    switchable = true;
                                    break;
                                }
                                else if ((selectedAbility.name.includes("Flict") || selectedAbility.name.includes("Alter")) &&
                                         (currentAbilities[i].name.includes("Flict") || currentAbilities[i].name.includes("Alter")))
                                {
                                    switchable = true;
                                    break;
                                }
                            }
                            else if (currentType == "soul" || currentType == "fever") {
                                switchable = true;
                                break;
                            }
                            else {
                                var splitSelected = selectedAbility.name.split(" ");
                                var splitCurrent = currentAbilities[i].name.split(" ");

                                if (splitSelected[0] == splitCurrent[0]) {
                                    switchable = true;
                                    break;
                                }
                            }
                        }

                    } //end for

                        if (switchable) {
                            currentAbilities[i] = selectedAbility;
                            // renders ability name to corresponding equipment
                            $("#" + currentAbilities.indexOf(selectedAbility) + "-" + strEquipId).text(selectedAbility.name);
                        }
                        else {
                            if (currentEquipment.slots < 8) {
                                currentAbilities.push(selectedAbility);
                                $("#" + currentAbilities.indexOf(selectedAbility) + "-" + strEquipId).text(selectedAbility.name);
                                currentEquipment.slots++;
                            }
                            else {
                                console.log("Maximum slots allotted: " + currentEquipment.length)
                            }
                        }
                }
                else {
                    currentAbilities.push(selectedAbility);
                    $("#" + currentAbilities.indexOf(selectedAbility) + "-" + strEquipId).text(selectedAbility.name);
                    currentEquipment.slots++;
                }
            }
            console.log(currentEquipment);
        });

        /** Show user all transferable abilities including fusions */
        $("#affix-header").click(function() {

            finalAffixMap = {};
            penalizedAffixMap = {};

            if (affixing) {

                var abilityMap = {}; /** Map of all equipments' abilities (id : count) */
                var soulMap = {}; /** Map holding all soul-type abilities (id : count) */
                var transferMap = {}; /** Actual abilities that can be transferred (id : final rate) */
                var ready = false;

                /** Cannot affix if other equipment have less slots than base */
                for (i=1; i<stage.length; i++) {
                    if (stage[0].slots > 0) {
                        if (stage[0].slots <= stage[i].slots || stage[i].slots == 0) {
                            ready = true;
                            continue;
                        }
                        else {
                            console.log("Cannot Affix...");
                            ready = false;
                            break;
                        }
                    }
                    else if (stage[0].slots == 0) {
                        if (stage[i].slots > 0) {
                            console.log("All other equipment must at least have the same amount of slots as the base.");
                            ready = false;
                            break;
                        }
                    }
                } /** End for : equip size check */

                if (ready) {

                    console.log("Can Affix!");

                    /** Populate abilityMap and soulMap */
                    for (j=0; j<stage.length; j++) {
                        if (stage[j].slots > 0) {
                            for (k=0; k<stage[j].slots; k++) {
                                var currentAbility = stage[j].abilities[k];
                                if (!abilityMap[currentAbility.id]) {
                                    abilityMap[currentAbility.id] = 1;
                                }
                                else {
                                    abilityMap[currentAbility.id] += 1;
                                }
                                if (currentAbility.abilityType.includes("soul")) {
                                    if (!soulMap[currentAbility.id]) {
                                        soulMap[currentAbility.id] = 1;
                                    }
                                    else {
                                        soulMap[currentAbility.id] += 1;
                                    }
                                }
                            }
                        }
                    } // end for : populate abilityMap/soulMap


                    for (var id in abilityMap) {
                        var ability = abilities[id-1];
                        var bonusRate = 0;
                        var newRate = 0;
                        var splitName = ability.name.split(" ");

                        /** Specific checks for increased success rates */

                        /**Individuals*/
                        if (ability.name.includes("Modulator")) {
                            if (abilityMap[id] == 2) {
                                bonusRate = 30;
                            }
                            else if (abilityMap[id] > 2) {
                                bonusRate = 80;
                            }
                        }
                        else if (ability.name.includes("Stigma") || ability.name.includes("Vinculum") ||
                                 ability.name.includes("ARKS MAX"))
                        {
                            if (abilityMap[id] == 2) {
                                bonusRate = 30;
                            }
                            else if (abilityMap[i] > 2) {
                                bonusRate = 50;
                            }
                        }
                        else if(ability.name.includes("Soul Catalyst")) {
                            if (abilityMap[id] == 2) {
                                bonusRate = 10;
                            }
                            else if (abilityMap[id] > 2) {
                                bonusRate = 30;
                            }
                        }
                        else if (ability.name.includes("Flict") || ability.name.includes("Alter")) {
                            if (abilityMap[id] > 2) {
                                bonusRate = 80;
                            }
                            if (abilityMap[277]) { // Extreceptor
                                bonusRate = 100;
                            }
                        }
                        else if (ability.name.includes("Mutation") || ability.name.includes("Doom Break")) {
                            if (abilityMap[id] == 2) {
                                bonusRate = 50;
                            }
                            else if (abilityMap[id] > 2) {
                                bonusRate = 80;
                            }
                        }

                        else if (ability.abilityType.includes("basic") || ability.abilityType.includes("resist")) {
                            var nextAbilityId = parseInt(id) + 1;
                            /** Create fusion abilities if conditions are met */
                            if (abilityMap[id] == 2) {
                                bonusRate = 20;
                                if (!abilityMap[nextAbilityId] && abilities[nextAbilityId].name.includes(splitName[0])) {
                                    if (abilities[id].name.includes("III") || abilities[id].name.includes("IV")) {
                                        transferMap[nextAbilityId] = abilities[id].successRate / 2
                                    }
                                    else {
                                       transferMap[nextAbilityId] = abilities[id].successRate;
                                    }
                                }
                            }
                            else if (abilityMap[id] > 2) {
                                bonusRate = 40;
                                if (!abilityMap[nextAbilityId] && abilities[nextAbilityId].name.includes(splitName[0])) {
                                    if(abilities[id].name.includes("III")) {
                                        transferMap[nextAbilityId] = (abilities[id].successRate / 2) + 20;
                                    }
                                    else {
                                        transferMap[nextAbilityId] = abilities[id].successRate + 20;
                                    }
                                }
                            }
                        }
                        else if (ability.abilityType.includes("soul")) {
                            if (abilityMap[id] == 2) {
                                if (ability.name.includes("Toh") || ability.name.includes("Full") ||
                                    ability.name.includes("Fabu"))
                                {
                                    bonusRate = 60;
                                }
                                else {
                                    bonusRate = 50;
                                }
                            }
                            else if (abilityMap[id] > 2) {
                                if (ability.name.includes("Toh") || ability.name.includes("Full") ||
                                    ability.name.includes("Fabu"))
                                {
                                    bonusRate = 90;
                                }
                                bonusRate = 80;
                            }
                            if (abilityMap[268]) { // Soul Receptor Bonus
                                if (ability.name.includes("Astral")) {
                                    bonusRate = 10;
                                }
                                else if (ability.name.includes("Act") || ability.name.includes("Till") ||
                                         ability.name.includes("Magi") || ability.name.includes("Ares")) {
                                    bonusRate = 50;

                                }
                                else {
                                    bonusRate = 100;
                                }
                            }
                        }
                        else if (ability.abilityType.includes("status")) {
                            console.log("Unavailable yet");
                        } /** End of individual checks */

                        newRate = ability.successRate + bonusRate;

                        /**Overall success rate cannot exceed 100% */
                        if (newRate > 100) {
                            newRate = 100;
                        }
                        if (newRate > 0 || ability.successRate > 0) {
                            transferMap[ability.id] = newRate;
                        }

                        /** Fusion soul creation */
                        if (soulMap[102] || soulMap[103] || soulMap[104] || soulMap[106] || soulMap[113] ||
                            soulMap[126] || soulMap[129] || soulMap[131] || soulMap[134] || soulMap[138] ||
                            soulMap[139] || soulMap[144] || soulMap[150])
                        {
                            if (soulMap[160] || soulMap[161] || soulMap[162] || soulMap[163]) {
                                /**  Act, Till, Magi, Ares the Soul */
                                transferMap[166] = 70;
                                transferMap[167] = 70;
                                transferMap[168] = 70;
                                transferMap[169] = 70;

                            }
                        }
                        if ((soulMap[160] && (soulMap[161] || soulMap[162])) ||
                            (soulMap[161] && (soulMap[160] || soulMap[162])) ||
                            (soulMap[162] && (soulMap[160] || soulMap[161])))
                        {
                            /** Ether Soul */
                            transferMap[165] = 10;
                        }
                        if (soulMap[120] && soulMap[135] && soulMap[146] && soulMap[154] && soulMap[157]) {
                            /** Soul Catalyst */
                            transferMap[270] = 10;
                        }
                        if (abilityMap[270] > 2 && soulMap[158] > 0) {
                            /** Astral Soul */
                            transferMap[159] = 60;
                        }
                        /** Add soul boost if applicable */
                        for (var soulId in soulMap) {
                            if (abilities[soulId-1].boost.includes(splitName[0])) {
                                transferMap[id] += 20;
                                if (transferMap[id] > 100) {
                                    transferMap[id] = 100;
                                }
                                break;
                            }
                        }

                    } // end BIG for
                    if (transferMap) {
                        for (var id in transferMap) {
                            $("#pot-affix").append("<tr><span><td>" + abilities[id-1].name +
                                               "</td><td>" + transferMap[id] +
                                               "%" + "</td><td><input id='" + id + "' class='chk' name='" +
                                               abilities[id-1].name + "' value='" + transferMap[id] +
                                               "' type='checkbox' /></td></span></tr>");
                        }
                    }
                    else {
                        $("#pot-affix").append("<tr><td>" + "No Transferable Abilities!" + "</td></tr>");
                    }
                    console.log(transferMap);
                }
            }
        });

        $(document).on("click", ".chk", function() {

            $("#final").empty();

            var penalty = 0;
            var material = 0;

            if (this.checked) {
                finalAffixMap[this.name] = this.value;
            }
            else {
                delete finalAffixMap[this.name];
            }

            /** Calculate upslot penalty if applicable */
            if (Object.keys(finalAffixMap).length > stage[0].slots) {
                $("input:checkbox:not(:checked)").attr("disabled", "disabled");

                /** Calculate num equipment */
                for (e=1; e<stage.length; e++) {
                    if (stage[e].slots > 0) {
                        material++;
                    }
                }
                if (stage[0].slots == 1) {
                    if (material == 1) {
                        penalty = .85;
                    }
                    else if (material > 1) {
                        penalty = .9;
                    }
                }
                else if (stage[0].slots == 2) {
                    if (material == 1) {
                        penalty = .75;
                    }
                    else if (material > 1) {
                        penalty = .85;
                    }
                }
                else if (stage[0].slots == 3) {
                    if (material == 1) {
                        penalty = .6;
                    }
                    else if (material > 1) {
                        penalty = .7;
                    }
                }
                else if (stage[0].slots == 4) {
                    if (material == 1) {
                        penalty = .5;
                    }
                    else if (material > 1) {
                        penalty = .6;
                    }
                }
                else if (stage[0].slots == 5) {
                    if (material == 1) {
                        penalty = .45;
                    }
                    else if (material > 1) {
                        penalty = .55;
                    }
                }
                else if (stage[0].slots == 6) {
                    if (material == 1) {
                        penalty = .35;
                    }
                    else if (material > 1) {
                        penalty = .4;
                    }
                }
                else if (stage[0].slots == 7) {
                    if (material == 1) {
                        penalty = .3;
                    }
                    else if (material > 1) {
                        penalty = .35;
                    }
                }
            } // end upslot calc

            else {
                $("input:checkbox:not(:checked)").removeAttr("disabled");
            }

            for (var key in finalAffixMap) {
                if (penalty > 0) {
                    penalizedAffixMap[key] = Math.floor(finalAffixMap[key] * penalty);
                    $("#final").append("<tr><span><td>" + key + "</td><td>" + penalizedAffixMap[key] + "%" + "</td></span></tr>");
                }
                else {
                    $("#final").append("<tr><span><td>" + key + "</td><td>" + finalAffixMap[key] + "%" + "</td></span></tr>");
                }
            }
        });

        $("#commit").click(function() {
            $("#pass").empty();
            $("#fail").empty();

            if (penalizedAffixMap) {
                for(var key in penalizedAffixMap) {
                    var randNum = Math.floor(Math.random() * 100) + 1;
                    if (randNum <= penalizedAffixMap[key]) {
                        $("#pass").append("<tr><td>" + key + "</td></tr>");
                    }
                    else {
                        $("#fail").append("<tr><td>" + key + "</td></tr>");
                    }
                }
            }
            else {
                for(var key in finalAffixMap) {
                    var randNum = Math.floor(Math.random() * 100) + 1;
                    if (randNum <= finalAffixMap[key]) {
                        $("#pass").append("<tr><td>" + key + "</td></tr>");
                    }
                    else {
                        $("#fail").append("<tr><td>" + key + "</td></tr>");
                    }
                }
            }

        });

    });

    //]]>
</script>

</head>
<body>
    <div th:fragment='navigation' class="no-shadow navbar" style="padding:1px; color:darkgrey; background-color: #4b7582; box-shadow: -4px -4px 50px 3px #d3f0ff;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" style="margin:none; color:red; padding-left: 13px;color: black;">Home</a>
            </li>
        </ul>

    </div>
</body>
</html>