<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link type="text/javascript" th:href="@{/js/custom.js}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:replace="fragments :: affix-scripts"></script>
</head>


<body>

    <div th:replace="fragments :: navigation" style="position: fixed;"></div>

    <div class="container-fluid" id="header">
        <h1 class="display-2" style="text-shadow:.7px 1.4px teal">PSO2 Affix Simulator</h1>
    </div>

    <div class="col-xs-12" style="height:25px;">
        <!-- Empty Space -->
    </div>


    <div class="container-fluid" id="stage-header-cont">

        <h2 id="stage-header" class="display-4">Stage</h2>

    </div>

    <div id="stage" class="container-fluid">
        <div th:each="equipment : ${stage.equipment}"
             th:id="${equipment.identifier}"
             class="col-sm-2 equipment">

            <h2 class="equipment-header" th:text="${equipment.title}"></h2>

            <div class="justify-content-around">
                <button th:id="'add-' + ${equipment.identifier}" class="btn">Add</button>
                <button th:id="'clear-' + ${equipment.identifier}" class="btn">Clear</button>
                <button th:id="'junk-' + ${equipment.identifier}" class="btn">Junk</button>
            </div>

            <div class="container">
            <table class="table equipment-table" th:id="'table-' + ${equipment.identifier}">
                <tr th:id="'0-' + ${equipment.identifier}"> </tr>
                <tr th:id="'1-' + ${equipment.identifier}"> </tr>
                <tr th:id="'2-' + ${equipment.identifier}"> </tr>
                <tr th:id="'3-' + ${equipment.identifier}"> </tr>
                <tr th:id="'4-' + ${equipment.identifier}"> </tr>
                <tr th:id="'5-' + ${equipment.identifier}"> </tr>
                <tr th:id="'6-' + ${equipment.identifier}"> </tr>
                <tr th:id="'7-' + ${equipment.identifier}"> </tr>
            </table>
            </div>
        </div>


        <div id="search">
            <h2 style="margin-bottom: -10px;">Double-Click Ability to Add</h2>
            <br />
            <div class="column">
                <h5 class="ability-header">Basic</h5>
                <select id="basic" size="12">
                    <option class="ability"
                            th:each="ability : ${basic}"
                            th:value="${ability.id}"
                            th:text="${ability.name}">
                    </option>
                </select>
            </div>
            <div class="column">
                <h5 class="ability-header">Special</h5>
                <select multiple="multiple" id="special" size="12">
                    <option th:each="ability : ${special}"
                            th:value="${ability.id}"
                            th:text="${ability.name}">
                    </option>
                </select>
            </div>
            <div class="column">
                <h5 class="ability-header">Souls</h5>
                <select multiple="multiple" id="soul" size="12">
                    <option th:each="ability : ${soul}"
                            th:value="${ability.id}"
                            th:text="${ability.name}">
                    </option>
                </select>
            </div>
            <div class="column">
                <h5 class="ability-header">Resists</h5>
                <select multiple="multiple" id="resist" size="12">
                    <option th:each="ability : ${resist}"
                            th:value="${ability.id}"
                            th:text="${ability.name}"></option>
                </select>
            </div>
            <div class="column">
                <h5 class="ability-header">Status Effects</h5>
                <select multiple="multiple" id="status" size="12">
                    <option th:each="ability : ${status}"
                            th:value="${ability.id}"
                            th:text="${ability.name}"></option>
                </select>
            </div>
            <div class="column">
                <h5 class="ability-header">Other</h5>
                <select multiple="multiple" id="other" size="12">
                    <option th:each="ability : ${other}"
                            th:value="${ability.id}"
                            th:text="${ability.name}"></option>
                </select>
            </div>
        </div>

    </div>

    <!-- End Stage -->


    <div class="container-fluid" id="affix-header-cont">
        <h2 id="affix-header" class="display-4">Affix</h2>
    </div>

    <div id="affix" class="container">
        <h4 style="font-size: 40px;">Choose Abilities:</h4>
        <table>
            <tr class="row">
                <td class="column" id="affix-table-div">
                    <form>
                        <table id="pot-affix"></table>
                    </form>
                </td>
                <td class="column">
                    <h4>Final Affix:</h4>
                    <table id="final">
                    </table>
                    <p>Same Equipment: <input type="checkbox" id="same-eq" class="same-eq" value="2" /></p>
                </td>
                <td class="column">
                    <h4>Pass:</h4>
                    <table id="pass">

                    </table>
                </td>
                <td class="column">
                    <h4>Fail:</h4>
                    <table id="fail"></table>
                </td>
            </tr>
        </table>
        <p style="float:right;"><button id="commit" style="float:right;">You Have No Luck</button></p>
    </div>

</body>
</html>